%h1 札幌市中央区<span class='ruby'>Ruby</span>会議01
%nav.nav
  = link_to '↑', '#header', class: 'link-to-top'

  %ul
    %li
      = link_to '参加登録', '#registration'
      = link_to '開催概要', '#abstract'
      = link_to '開催要項', '#what-is'
      = link_to 'タイムテーブル', '#timetable'
      = link_to '講演詳細', '#talks'
      = link_to '懇親会について', '#party'
      = link_to 'LT (Lightning Talk) について', '#lt'
