!!!

%html(lang='ja')
  %head
    %meta(charset='utf-8')

    -# Always force latest IE rendering engine or request Chrome Frame
    %meta(content='IE=edge,chrome=1' http-equiv='X-UA-Compatible')

    %title= [current_page.data.title, '札幌市中央区Ruby会議01'].compact.join(' - ')

    = stylesheet_link_tag 'chuork01'
    = javascript_include_tag 'mixpanel'

    %meta(name='viewport' content='width=device-width')

  %body{class: page_classes}
    /[if lte IE 8]
      = partial 'layouts/unsupported_browser_warning'

    .content
      %header#header
        = partial 'layouts/header'

      #main
        %article
          = yield

    %footer#footer
      %p &copy; 2013 札幌市中央区Ruby会議01実行委員会

    :javascript
      mixpanel.track('website');
