%ul#nav
  %li= link_to '参加登録',       '#registration'
  %li= link_to '開催概要',       '#abstract'
  %li= link_to 'タイムテーブル', '#timetable'
  %li= link_to '講演詳細',       '#talks'
  %li= link_to '懇親会について', '#party'
  %li= link_to 'LT について',    '#lt'

= heading_with_link :h2, 'registration', '参加登録'

%ul
  %li
    %del
      参加登録

みなさまのご参加、大変ありがとうございました。

= heading_with_link :h2, 'abstract', '開催概要'

:markdown
  このイベントでは、Ruby との関わりの中での生の工夫の話を聞くことができます。<br/>
  その中には、みなさんの「**現場**」に持ち帰ることができる内容もあるかもしれません。

  例えば、仕事で Ruby のプロジェクトに関わっている方、補助ツールとしてRubyを使っている方、趣味で自分のプロダクトをRubyで開発している方、Ruby でオープンソース開発をしている方などなど、みなさんの日常にはそれぞれの現場があると思います。

  そんな、みなさまの日常からの延長線として「札幌市中央区Ruby会議01」を開催いたします。

  * 「普段Rubyを使っているけど、もっとよいやり方がありそう」
  * 「何か改善のヒントを探している」
  * 「もっと楽しく Ruby を書きたい」

という方はぜひお越しくださいませ！

%h3 概要

:markdown
  * 日時: 2014/2/8(土) 13:00 〜 18:00 (懇親会 19:00 〜)
  * 会場: [かでる2・7][] 1060 会議室([地図](https://maps.google.co.jp/maps?q=43.063107,141.345473&num=1&brcurrent=3,0x5f0b2997c2c14ff7:0x9db606f6a754b30b,0&t=m&z=18))
  * 参加費用: 1,000 円 (会場にてお支払いください)
  * 主催: 札幌市中央区Ruby会議01実行委員
  * 後援: [日本Rubyの会][]、[Ruby札幌][]
  * 定員: 50 名
  * 懇親会: 19:00 〜 [詳細](#party)
  * 公式ハッシュタグ: [#chuork01][]

  [かでる2・7]: http://homepage.kaderu27.or.jp/
  [日本Rubyの会]: http://ruby-no-kai.org/
  [Ruby札幌]: http://ruby-sapporo.org/
  [#chuork01]: https://twitter.com/search?q=%23chuork01

= heading_with_link :h2, 'timetable', 'タイムテーブル'

:markdown
  |時間 |講演内容|講演者|
  |-----|--------|------|
  |13:00|開場| |
  |13:20|オープニング| |
  |13:25|#{talk_row('talk-tricknotes')}
  |13:50|休憩| |
  |14:00|#{talk_row('talk-niku')}
  |14:25|#{talk_row('talk-ursm')}
  |14:50|休憩| |
  |15:00|#{talk_row('talk-volpe_hd28v')}
  |15:25|#{talk_row('talk-myokoym')}
  |15:50|休憩| |
  |16:00|#{talk_row('talk-shouheiumemoto')}
  |16:25|#{talk_row('talk-tmaeda')}
  |16:50|休憩| |
  |17:00|[LT](#lt)| |
  |18:00|クロージング| |

= heading_with_link :h2, 'talks', '講演詳細'

- %w(talk-tricknotes talk-niku talk-ursm talk-volpe_hd28v talk-myokoym talk-shouheiumemoto talk-tmaeda).each do |id|
  :ruby
    talk    = talk_by_id(id)
    speaker = talk.speaker

  %h3{id: id}
    #{talk.title || comming_soon} - #{speaker.name}

  :markdown
    #{talk.abstract || comming_soon}

  .profile
    = image_tag speaker.icon_url, alt: speaker.social_id

    #{speaker.name} (#{link_to"@#{speaker.social_id}", speaker.social_link, target: '_blank'})

    :markdown
      #{speaker.bio}

= heading_with_link :h2, 'party', '懇親会について'

:markdown
  * 日時: 2014/2/8(土) 19:00 〜 21:30
  * 会場: [北の笑美食 いなせや][] ([地図](https://maps.google.co.jp/maps?q=43.058921,141.350218&num=1&brcurrent=3,0x5f0b299b45607ae1:0x850628b2828d8342,0&t=m&z=19))
  * 参加費用: 3,500 円 (会場にてお支払いください)
  * 定員: 30 名

  [北の笑美食 いなせや]: http://www.hotpepper.jp/strJ001008774/

  参加されたみなさまで情報交換したり、ゆっくりじっくりとお話することができます。<br>
  ぜひぜひご参加ください。

  * <del>懇親会参加登録</del>

= heading_with_link :h2, 'lt', 'LT について'

:markdown
  LT ([Lightning Talk][]) とは、5分間プレゼンテーションです。<br>
  有志のみなさまによる発表はこちらです。

  |発表者|タイトル|
  |------|--------|
  |矢部剛嗣|How to enjoy Padrino|
  |うさみけんた|近況の報告と自宅警備員が失職した話|
  |島田浩二|一般社団法人日本Rubyの会のほうから来ました|
  |早坂 亮佑|Rubyを始めてみて得たこと|
  |よねざわ|Sinatra x Ajax|
  |小林せかい|惚れちゃうコード|
  |小岩秀和|我が家を支える技術2014冬|
  |阿部智紀|Make a Fun Work 〜楽しく仕事をしよう〜|

  [Lightning Talk]: http://ja.wikipedia.org/wiki/%E3%83%A9%E3%82%A4%E3%83%88%E3%83%8B%E3%83%B3%E3%82%B0%E3%83%88%E3%83%BC%E3%82%AF

%h2 お問い合わせ

札幌市中央区Ruby会議01に関するお問い合せは tricknotes.rs _at_ gmail.com (佐藤)までメールにてご連絡ください。
